### PDF Table Scraping 

**For research into the relationship between various socio-economic factors and countries' democracy scores over time**

**By: Zach Palmer**

In [2]:
# import in packages
import pandas as pd
import numpy as np
import camelot as cl

import matplotlib.pyplot as plt
%matplotlib inline

### 2007 Democracy Index

In [2]:
# read the pdf and scrape the tables
tables = cl.read_pdf('pdfs/democracy-index_2007.pdf', pages='3,4,5', flavor='stream', table_areas=['0,650,500,0'])

In [4]:
# concatenate the tables together into one big dataframe
merged_df = tables[0].df
for i in range(1, len(tables)):
    merged_df = pd.concat([merged_df, tables[i].df], ignore_index=True)

# update the column headers
merged_df.columns = [
    'Country', 'Rank', 'Overall Score', 
    'Electoral Process and Pluralism', 
    'Functioning of Government',
    'Political Participation',
    'Political Culture',
    'Civil Liberties'
]

In [ ]:
merged_df

### 2008 Democracy Index

**Need to fix countries whose names take up multiple rows**

In [7]:
# read the pdf and scrape the tables
first_table_08 = cl.read_pdf('pdfs/democracy-index_2008.pdf', pages='4', flavor='stream', table_areas=['0,560,550,0'])
full_tables_08 = cl.read_pdf('pdfs/democracy-index_2008.pdf', pages='5,6,7', flavor='stream', table_areas=['0,700,550,0'])
last_table_08 = cl.read_pdf('pdfs/democracy-index_2008.pdf', pages='8', flavor='stream', table_areas=['0,700,550,420'])

### 2010 Democracy Index

In [9]:
full_tables_10 = cl.read_pdf('pdfs/democracy-index_2010.pdf', pages='4,5,6,7,8', flavor='stream', table_areas=['0,560,550,50'])
last_table_10 = cl.read_pdf('pdfs/democracy-index_2010.pdf', pages='9', flavor='stream', table_areas=['0,580,550,510'])

In [10]:
# concatenate the tables together into one big dataframe
merged_df_10 = full_tables_10[0].df
for i in range(1, len(full_tables_10)):
    merged_df_10 = pd.concat([merged_df_10, full_tables_10[i].df], ignore_index=True)

# add the last table
merged_df_10 = pd.concat([merged_df_10, last_table_10[0].df], ignore_index=True)

# update the column headers
merged_df_10.columns = [
    'Country', 'Rank', 'Overall Score', 
    'Electoral Process and Pluralism', 
    'Functioning of Government',
    'Political Participation',
    'Political Culture',
    'Civil Liberties'
]

In [ ]:
merged_df_10

### 2011 Democracy Index

In [31]:
# read the pdf and scrape the tables
first_table_11 = cl.read_pdf('pdfs/democracy-index_2011.pdf', pages='4', flavor='stream', table_areas=['0,230,550,50'])
full_tables_11 = cl.read_pdf('pdfs/democracy-index_2011.pdf', pages='5,6,7,8', flavor='stream', table_areas=['0,570,550,50'])
last_table_11 = cl.read_pdf('pdfs/democracy-index_2011.pdf', pages='9', flavor='stream', table_areas=['0,570,550,200'])

In [36]:
# concatenate the tables together into one big dataframe
merged_df_11 = first_table_11[0].df
for i in range(0, len(full_tables_11)):
    merged_df_11 = pd.concat([merged_df_11, full_tables_11[i].df], ignore_index=True)

# add the last table
merged_df_11 = pd.concat([merged_df_11, last_table_11[0].df], ignore_index=True)

# update the column headers
merged_df_11.columns = [
    'Country', 'Rank', 'Overall Score', 
    'Electoral Process and Pluralism', 
    'Functioning of Government',
    'Political Participation',
    'Political Culture',
    'Civil Liberties'
]

In [ ]:
merged_df_11

### 2012 Democracy Index

In [50]:
# read the pdf and scrape the tables
first_table_12 = cl.read_pdf('pdfs/democracy-index_2012.pdf', pages='4', flavor='stream', table_areas=['0,360,550,50'])
full_tables_12 = cl.read_pdf('pdfs/democracy-index_2012.pdf', pages='5,6,7,8', flavor='stream', table_areas=['0,560,550,50'])
last_table_12 = cl.read_pdf('pdfs/democracy-index_2012.pdf', pages='9', flavor='stream', table_areas=['0,560,550,260'])

In [57]:
# concatenate the tables together into one big dataframe
merged_df_12 = first_table_12[0].df
for i in range(0, len(full_tables_12)):
    merged_df_12 = pd.concat([merged_df_12, full_tables_12[i].df], ignore_index=True)

# add the last table
merged_df_12 = pd.concat([merged_df_12, last_table_12[0].df], ignore_index=True)

# update the column headers
merged_df_12.columns = [
    'Country', 'Rank', 'Overall Score', 
    'Electoral Process and Pluralism', 
    'Functioning of Government',
    'Political Participation',
    'Political Culture',
    'Civil Liberties'
]

In [ ]:
merged_df_12

### 2013 Democracy Index

In [67]:
# read the pdf and scrape the tables
first_table_13 = cl.read_pdf('pdfs/democracy-index_2013.pdf', pages='4', flavor='stream', table_areas=['0,420,550,50'])
full_tables_13 = cl.read_pdf('pdfs/democracy-index_2013.pdf', pages='5,6,7,8', flavor='stream', table_areas=['0,580,550,50'])
last_table_13 = cl.read_pdf('pdfs/democracy-index_2013.pdf', pages='9', flavor='stream', table_areas=['0,580,550,400'])

In [77]:
# concatenate the tables together into one big dataframe
merged_df_13 = first_table_13[0].df
for i in range(0, len(full_tables_13)):
    merged_df_13 = pd.concat([merged_df_13, full_tables_13[i].df], ignore_index=True)

# add the last table
merged_df_13 = pd.concat([merged_df_13, last_table_13[0].df], ignore_index=True)

# update the column headers
merged_df_13.columns = [
    'Country', 'Rank', 'Overall Score', 
    'Electoral Process and Pluralism', 
    'Functioning of Government',
    'Political Participation',
    'Political Culture',
    'Civil Liberties'
]

In [ ]:
merged_df_13

### 2014 Democracy Score

In [92]:
first_table_14 = cl.read_pdf('pdfs/democracy-index_2014.pdf', pages='4', flavor='stream', table_areas=['0,140,550,50'])
full_tables_14 = cl.read_pdf('pdfs/democracy-index_2014.pdf', pages='5,6,7,8,9', flavor='stream', table_areas=['0,570,550,70'])

In [99]:
# concatenate the tables together into one big dataframe
merged_df_14 = first_table_14[0].df
for i in range(0, len(full_tables_14)):
    merged_df_14 = pd.concat([merged_df_14, full_tables_14[i].df], ignore_index=True)

# update the column headers
merged_df_14.columns = [
    'Country', 'Rank', 'Overall Score', 
    'Electoral Process and Pluralism', 
    'Functioning of Government',
    'Political Participation',
    'Political Culture',
    'Civil Liberties'
]

In [ ]:
merged_df_14

### 2015 Democracy Score

In [120]:
full_tables_15 = cl.read_pdf('pdfs/democracy-index_2015.pdf', pages='5,6,7,8', flavor='stream', table_areas=['0,580,550,70'])
last_table_15 = cl.read_pdf('pdfs/democracy-index_2015.pdf', pages='9', flavor='stream', table_areas=['0,580,550,150'])

In [127]:
# concatenate the tables together into one big dataframe
merged_df_15 = full_tables_15[0].df
for i in range(1, len(full_tables_15)):
    merged_df_15 = pd.concat([merged_df_15, full_tables_15[i].df], ignore_index=True)

# add the last table
merged_df_15 = pd.concat([merged_df_15, last_table_15[0].df], ignore_index=True)

# update the column headers
merged_df_15.columns = [
    'Country', 'Rank', 'Overall Score', 
    'Electoral Process and Pluralism', 
    'Functioning of Government',
    'Political Participation',
    'Political Culture',
    'Civil Liberties'
]

In [ ]:
merged_df_15

### 2016 Democracy Index

In [ ]:
full_tables_16 = cl.read_pdf('pdfs/democracy-index_2016.pdf', pages='9,10,11,12', flavor='stream', table_areas=['0,580,550,70'])
last_table_16 = cl.read_pdf('pdfs/democracy-index_2016.pdf', pages='13', flavor='stream', table_areas=['0,580,550,190'])

In [141]:
# concatenate the tables together into one big dataframe
merged_df_16 = full_tables_16[0].df
for i in range(1, len(full_tables_16)):
    merged_df_16 = pd.concat([merged_df_16, full_tables_16[i].df], ignore_index=True)

# add the last table
merged_df_16 = pd.concat([merged_df_16, last_table_16[0].df], ignore_index=True)

# update the column headers
merged_df_16.columns = [
    'Country', 'Rank', 'Overall Score', 
    'Electoral Process and Pluralism', 
    'Functioning of Government',
    'Political Participation',
    'Political Culture',
    'Civil Liberties'
]

In [ ]:
merged_df_16

### 2017 Democracy Scores

In [ ]:
full_tables_17 = cl.read_pdf('pdfs/democracy-index_2017.pdf', pages='7,8,9,10', flavor='stream', table_areas=['0,620,550,70'])
last_table_17 = cl.read_pdf('pdfs/democracy-index_2017.pdf', pages='11', flavor='stream', table_areas=['0,610,550,350'])

In [15]:
# concatenate the tables together into one big dataframe
merged_df_17 = full_tables_17[0].df
for i in range(1, len(full_tables_17)):
    merged_df_17 = pd.concat([merged_df_17, full_tables_17[i].df], ignore_index=True)

# add the last table
merged_df_17 = pd.concat([merged_df_17, last_table_17[0].df], ignore_index=True)

# update the column headers
merged_df_17.columns = [
    'Country', 'Rank', 'Overall Score', 
    'Electoral Process and Pluralism', 
    'Functioning of Government',
    'Political Participation',
    'Political Culture',
    'Civil Liberties'
]

In [ ]:
merged_df_17

### 2018 Democracy Index

In [ ]:
# visual debugging 
debug = cl.plot(last_table_17[0], kind="text")
debug

### 2023 Democracy Index

**Can get entire table of scores over time from this PDF**

### Democracy Scores from 06 - 23

In [34]:
# read the pdf and scrape the tables
first_demo_table = cl.read_pdf('pdfs/democracy-index_2023.pdf', pages='19', flavor='stream', table_areas=['0,300,550,30'])
full_demo_tables = cl.read_pdf('pdfs/democracy-index_2023.pdf', pages='20,21,22,23', flavor='stream', table_areas=['0,600,550,50'])
last_demo_table = cl.read_pdf('pdfs/democracy-index_2023.pdf', pages='24', flavor='stream', table_areas=['0,600,550,500'])

In [39]:
# create a list of the table parts after removing the continent and world averages
table_parts = [
    first_demo_table[0].df.drop(2),
    full_demo_tables[0].df.drop([7,36]),
    full_demo_tables[1].df.drop(24),
    full_demo_tables[2].df.drop([15,36]),
    full_demo_tables[3].df,
    last_demo_table[0].df.drop([5,6])
]

# concatenate the table parts together into one big dataframe
demo_merged_df = table_parts[0]
for i in range(1, len(table_parts)):
    demo_merged_df = pd.concat([demo_merged_df, table_parts[i]], ignore_index=True)

# update the column headers
demo_merged_df.columns = [
    'Country', '2023', '2022', '2021', '2020', '2019', 
    '2018', '2017', '2016', '2015', '2014', '2013', 
    '2012', '2011', '2010', '2008', '2006'
]

In [40]:
demo_merged_df

,Country,2023,2022,2021,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2008,2006
0,Canada,8.69,8.88,8.87,9.24,9.22,9.15,9.15,9.15,9.08,9.08,9.08,9.08,9.08,9.08,9.07,9.07
1,US,7.85,7.85,7.85,7.92,7.96,7.96,7.98,7.98,8.05,8.11,8.11,8.11,8.11,8.18,8.22,8.22
2,Austria,8.28,8.20,8.07,8.16,8.29,8.29,8.42,8.41,8.54,8.54,8.48,8.62,8.49,8.49,8.49,8.69
3,Belgium,7.64,7.64,7.51,7.51,7.64,7.78,7.78,7.77,7.93,7.93,8.05,8.05,8.05,8.05,8.16,8.15
4,Cyprus,7.38,7.38,7.43,7.56,7.59,7.59,7.59,7.65,7.53,7.40,7.29,7.29,7.29,7.29,7.70,7.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,Tanzania,5.35,5.10,5.10,5.10,5.16,5.41,5.47,5.76,5.58,5.77,5.77,5.88,5.64,5.64,5.28,5.18
163,Togo,2.99,2.99,2.80,2.80,3.30,3.10,3.05,3.32,3.41,3.45,3.45,3.45,3.45,3.45,2.43,1.75
164,Uganda,4.49,4.55,4.48,4.94,5.02,5.20,5.09,5.26,5.22,5.22,5.22,5.16,5.13,5.05,5.03,5.14
165,Zambia,5.80,5.80,5.72,4.86,5.09,5.61,5.68,5.99,6.28,6.39,6.26,6.26,6.19,5.68,5.25,5.25
166,Zimbabwe,3.04,2.92,2.92,3.16,3.16,3.16,3.16,3.05,3.05,2.78,2.67,2.67,2.68,2.64,2.53,2.62

In [41]:
# write the dataframe out to a csv file
demo_merged_df.to_csv('demo_scores_06-23.csv', index=False)